# Sample .travis.yml for R projects
language: c

sudo: required
before_install:
  - curl -OL http://raw.github.com/lcolladotor/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap

install:
  - ./travis-tool.sh install_bioc ShortRead
  - ./travis-tool.sh install_r testthat
  - ./travis-tool.sh install_r knitr
  - ./travis-tool.sh install_r rmarkdown
  - ./travis-tool.sh install_r dplyr
  - ./travis-tool.sh install_r stringr
  - ./travis-tool.sh install_r lazyeval
  - ./travis-tool.sh install_r RSQLite
  - ./travis-tool.sh install_r magrittr
  - ./travis-tool.sh install_r covr
  - ./travis-tool.sh install_bioc_deps

script: ./travis-tool.sh run_tests

on_failure:
  - ./travis-tool.sh dump_logs

after_script:
  - ./travis-tool.sh dump_logs_by_extension "timings"
  - ./travis-tool.sh dump_sysinfo

after_success:
  - Rscript -e 'covr::codecov()'

env:
  global:
    - R_BUILD_ARGS="--no-build-vignettes --no-manual --no-resave-data"
    - R_CHECK_ARGS="--no-build-vignettes --no-manual --timings"
    - R_CHECK_TIME="TRUE"
    - R_CHECK_TESTS="TRUE"
    - _R_CHECK_FORCE_SUGGESTS_="FALSE"
