# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
bioc_required: true
sudo: false
cache: packages

r_packages:
  - knitr
  - rmarkdown
  - covr
  - dplyr
  - stringr
  - testthat
  - magrittr
  - RSQLite

bioc_packages:
  - Biostrings
  - ShortRead
  - metagenomeSeq

env:
 global:
   - CRAN: http://cran.rstudio.com

after_success:
  - Rscript -e 'covr::codecov()'


